/* REGOLE GENERALI E UTILITIES */

.row {
    margin: 0;
}

.marginize-me {
    width: 60%;
    margin: auto;
}

.shrink-me {
    font-size: 2.5rem;
}

/* HEADER */

header {
    background-color: #2C3E50;
}

/* RESPONSIVE SU DISPOSITIVI MOBILI */

@media screen and (max-width: 576px) {
    header .navbar {
        width: 100%;
    }
}

/* MAIN */

/* Jumbotron Section */

.jumbotron, .about {
    background-color: #1ABC9C;
}

.jumbotron img {
    max-width: 200px;
    height: auto;
}

/* star section */

/* divider */

.jumbotron .fa-star {
    font-size: 20px;
    width: auto;
    display: inline-block;
    position: relative;
}

.jumbotron h4::after, .jumbotron h4::before, .about h4::after, .about h4::before {
    display: inline-block;
    content: '';
    border-top: .3rem solid white;
    width: 6rem;
    margin: 0 1rem;
}

/* /divider */

.jumbotron ul>li {
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.jumbotron ul>li::after {
    content: " - ";
}

.jumbotron ul>li:last-of-type::after {
    content: none;
}

.jumbotron h1 {
    font-size: 3rem;
}

/* Portfolio Section */

.portfolio .row {
    width: 100%;
}

/* Portfolio star section */

.portfolio .fa-star {
    font-size: 20px;
    width: auto;
    display: inline-block;
    position: relative;
}

.portfolio h4::after, .portfolio h4::before, .form h4::after, .form h4::before {
    display: inline-block;
    content: '';
    border-top: .3rem solid #343a40;
    width: 6rem;
    margin: 0 1rem;
}

/* Portfolio images */

.portfolio img {
    width: 100%;
    height: auto;
}

/* About Section */

.about p {
    font-size: 1rem;
    font-weight: 300;
}

.about .btn {
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
}

.about span {
    font-size: inherit;
    font-family: inherit;
}

.about .btn {
    width: 200px;
}

.about .fa-download {
    padding-right: 1rem;
}

.flex-me {
    display: flex;
    justify-content: flex-end;
} 

/* SEZIONE FORM */

.container-fluid form {
    padding-bottom: 6rem;
}

form .btn {
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
    color: white;
    background-color: #1abc9c;
    border-color: #1abc9c;
}

form .btn:hover {
    color: #fff;
    background-color: #159a80;
    border-color: #148f77;
}

.form-control {
    border: none;
    border-bottom: 1px solid lightgrey;
}

form label {
    font-size: 1.5rem;
}

/* FOOTER */

/* FOOTER TOP */

.footer-top {
    background-color: #3A546D;
}

.footer-top p:first-of-type {
    font-size: 1.25rem;
    font-weight: 300;
    width: 70%;
    margin: auto;
}

.footer-top p>a {
    color: #1abc9c;
    text-decoration: none;
}

.footer-top .col-12 {
    padding-bottom: 2.5rem;
}

.btn-social {
    border-radius: 50%;
    border: 1px solid white;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 0.25rem;
}

.text-align {
    text-align: left;
}

@media screen and (max-width: 576px) {
    .text-align {
        text-align: center;
    }

    .footer-top p:first-of-type {
        width: 100%;
    }

    .about p {
        font-size: 1rem;
        width: 85%;
    }
    .shrink-me {
        font-size: 2rem;
    }

}

@media screen and (max-width: 992px) {
    .btn-social {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1rem;
    }
}

/* FOOTER BOTTOM */

.footer-bot {
    background-color: #2C3E50;
}

.footer-bot span {
    font-size: 12px;
    line-height: 80px;
}